@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-readex);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow: hidden;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #f0c15b;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #f0c15b;
}

.OverflowCalendarVar {
  display: none;
}

.OverflowCalendar {
  display: inline;
}

@media (width <= 430px) {
  .PeriodoEscolar {
    flex-direction: column;
  }
  .OverflowCalendar {
    display: none;
  }
  .OverflowCalendarVar {
    display: inline;
  }
}
